.moviecard{
    background-color:lightslategrey;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.moviecard img {
    max-width: 100%;
}

.moviecard_info{
    padding: 5px;
    color: aliceblue;
}